                    <!-- Buttons (Triple) -->
					<hr>
					<div class="form-group">
						
						<div >
							<button class="btn btn-link btn-xs" (click)="back(); false">  
                				<i class="fa fa-angle-double-left"></i><span> {{formTitles?.cancel}}</span>
              				</button>
							<button *ngIf="!isDelete && !isLocked" [disabled]="!form.valid || form.pristine"  class="btn btn-info" (click)="save(form.value); false">{{formTitles?.save}}</button>
							<button *ngIf="!isDelete && formTitles?.saveAlt && !isLocked" [disabled]="!form.valid || form.pristine"  class="btn btn-info" (click)="saveAlt(form.value); false">{{formTitles?.saveAlt}}</button>
							<button *ngIf="isDelete && formTitles?.delete && !isLocked" class="btn btn-danger" (click)="delete(form.value); false">{{formTitles?.delete}}</button>
						</div>
					</div>