<template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" class="hidden-print">
	<span class="custom-day" [class.weekend]="isWeekend(date)" [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
		{{ date.day }}
	</span>
</template>

<div class="container hidden-print">

	<div class="card">

		<!-- Default panel contents -->
		<div class="card-header">
			<!-- Form title -->
			<form-title [param]="param" [formTitles]="formTitles" [isDelete]="isDelete()">
			</form-title>
			<div class="pull-right">
				<span [routerLink]="['/genlist/person']" class="text-muted clickable">
					&nbsp;<i class="fa fa-th-list" aria-hidden="true"></i> {{formLabels?.people?.name}}
				</span>
			</div>
		</div>
		<div class="card-block">

			<ngb-tabset>

				<ngb-tab>
					<template ngbTabTitle>{{formTitles?.person}}</template>
					<template ngbTabContent>
						<div class="card-block">
							<form [formGroup]="form">

								<fieldset>

									<!-- Text input-->
									<div class="form-group row">
										<label class="col-md-2 col-form-label" for="firstname">{{formLabels?.firstname?.name}}</label>
										<div class="col-md-3">
											<input formControlName="firstname" type="text" placeholder="{{formLabels?.firstname?.placeholder}}" class="form-control">
											<small *ngIf="!isDelete" class="form-text text-muted">{{formLabels?.firstname?.help}}</small>
											<div *ngIf="form.controls['firstname'].hasError('required') && form.controls['firstname'].touched" class="text-warning">{{formTitles?.required}}</div>
										</div>
										<label class="col-md-1 col-form-label" for="lastname">{{formLabels?.lastname?.name}}</label>
										<div class="col-md-4">
											<input formControlName="lastname" type="text" placeholder="{{formLabels?.lastname?.placeholder}}" class="form-control">
											<small *ngIf="!isDelete" class="form-text text-muted">{{formLabels?.lastname?.help}}</small>
											<div *ngIf="form.controls['lastname'].hasError('required') && form.controls['lastname'].touched" class="text-warning">{{formTitles?.required}}</div>
										</div>
										<div *ngIf="mnum" class="col-md-2">
											<h4><i class="fa fa-user text-success"></i> {{mnum}}</h4></div>
									</div>

									<!-- Text input-->
									<div class="form-group row" *ngIf="full">
										<label class="col-md-2 col-form-label" for="mobileNumber">{{formLabels?.mobileNumber?.name}}</label>
										<div class="col-md-3">
											<input formControlName="mobileNumber" type="text" placeholder="{{formLabels?.mobileNumber?.placeholder}}" class="form-control">
											<small *ngIf="!isDelete" class="form-text text-muted">{{formLabels?.mobileNumber?.help}}</small>
										</div>
										<label class="col-md-1 col-form-label" for="email">{{formLabels?.email?.name}}</label>
										<div class="col-md-4">
											<input formControlName="email" type="text" placeholder="{{formLabels?.email?.placeholder}}" class="form-control">
											<small *ngIf="!isDelete" class="form-text text-muted">{{formLabels?.email?.help}}</small>
											<div *ngIf="form.controls.email.hasError('email') && form.controls.email.touched" class="text-warning">{{formTitles?.email}}</div>
										</div>
									</div>

									<hr *ngIf="full">

									<!-- Text input-->
									<div class="form-group row">
										<label class="col-md-2 col-form-label" for="birthdate">{{formLabels?.birthdate?.name}}</label>
										<div class="col-md-3">
											<div class="input-group">
												<input formControlName="birthdate" [minDate]="minDate" class="form-control" ngbDatepicker #dtp="ngbDatepicker" [dayTemplate]="customDay">
												<div class="input-group-addon" (click)="dtp.toggle()">
													<i class="fa fa-calendar clickable" aria-hidden="true"></i>
												</div>
											</div>
											<small class="form-text text-muted">{{formLabels?.birthdate?.help}}</small>
										</div>
										<label *ngIf="full" class="col-md-1 col-form-label" for="sex">{{formLabels?.sex?.name}}</label>
										<div *ngIf="full" class="custom-controls">
											<label class="custom-control custom-radio">
												<input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input" [checked]="isMan" (click)="sex(1)">
												<span class="custom-control-indicator"></span>
												<span class="custom-control-description">{{formLabels?.sex?.man}}</span>
											</label>
											<label class="custom-control custom-radio">
												<input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input" [checked]="isWoman" (click)="sex(0)">
												<span class="custom-control-indicator"></span>
												<span class="custom-control-description">{{formLabels?.sex?.woman}}</span>
											</label>
										</div>
										<label *ngIf="full" class="col-md-2 col-form-label" for="citizenship">{{formLabels?.citizenship?.name}}</label>
										<div *ngIf="full" class="col-md-3">
											<ng-select [allowClear]="true" [items]="citItems" [active]="citSel" placeholder="{{formLabels?.citizenship?.placeholder}}" (selected)="selected($event,'cit')">
											</ng-select>
										</div>

									</div>

									<hr *ngIf="full">

									<!--addresses-->
									<div formArrayName="addresses" class="form-group row" *ngIf="full">
										<div>
											<label class="col-md-1 col-form-label" for="addresses">{{formLabels?.address?.group}}</label>
										</div>
										<div class="form-group row col-md-12">
											<div *ngFor="let address of form.controls.addresses.controls; let i=index">
												<div [formGroupName]="i">
													<address [group]="form.controls.addresses.controls[i]" [labels]="formLabels" (removed)="removeAddress(i,$event)"></address>
												</div>
											</div>
										</div>
									</div>
									<div class="margin-20" *ngIf="full">
										<span (click)="addAddress()" style="cursor: default "><i class="fa fa-plus"></i> {{formLabels?.address?.add}}</span>
									</div>

									<hr *ngIf="full">

									<!-- Text input-->
									<div class="form-group row" *ngIf="full">

										<!-- Text input-->
										<label class="col-md-2 col-form-label" for="educationin">{{formLabels?.educationin?.name}}</label>
										<div class="col-md-6">
											<ng-select [allowClear]="true" [items]="eduItems" [active]="eduSelIn" placeholder="{{formLabels?.educationin?.placeholder}}" (selected)="selected($event,'eduin')">
											</ng-select>
										</div>

										<!-- Text input-->
										<!--label class="col-md-2 col-form-label" for="educationout">{{formLabels?.educationout?.name}}</label>
										<div class="col-md-4">
											<ng-select [allowClear]="true" [items]="eduItems" [active]="eduSelOut" placeholder="{{formLabels?.educationout?.placeholder}}" (selected)="selected($event,'eduout')">
											</ng-select>
										</div-->

									</div>

									<!-- Text input-->
									<div class="form-group row" *ngIf="full">

										<!-- Text input-->
										<label class="col-md-2 col-form-label" for="employmentin">{{formLabels?.employmentin?.name}}</label>
										<div class="col-md-4">
											<ng-select [allowClear]="true" [items]="empItems" [active]="empSelIn" placeholder="{{formLabels?.employmentin?.placeholder}}" (selected)="selected($event,'empin')">
											</ng-select>
										</div>

										<!-- Text input-->
										<!--label class="col-md-2 col-form-label" for="employmentout">{{formLabels?.employmentout?.name}}</label>
										<div class="col-md-4">
											<ng-select [allowClear]="true" [items]="empItems" [active]="empSelOut" placeholder="{{formLabels?.employmentout?.placeholder}}" (selected)="selected($event,'empout')">
											</ng-select>
										</div-->

									</div>

									<hr>

									<!-- checkers -->
									<div class="form-group custom-checkbox" *ngIf="full">
										<label class="form-check-inline">
											<input type="checkbox" class="form-check-input" formControlName="isteacher">
											<i class="fa fa-user text-primary" aria-hidden="true"> </i> {{formLabels?.isteacher?.name}}
										</label>
										<label class="form-check-inline">
											<input type="checkbox" class="form-check-input" formControlName="isvolunteer">
											<i class="fa fa-user text-info" aria-hidden="true"> </i> {{formLabels?.isvolunteer?.name}}
										</label>
										<label class="form-check-inline">
											<input type="checkbox" class="form-check-input" formControlName="ismember">
											<i class="fa fa-user text-success" aria-hidden="true"> </i> {{formLabels?.ismember?.name}}
										</label>
										<label class="form-check-inline">
											<input type="checkbox" class="form-check-input" formControlName="isemployee">
											<i class="fa fa-user text-warning" aria-hidden="true"> </i> {{formLabels?.isemployee?.name}}
										</label>
										<label class="form-check-inline">
											<input type="checkbox" class="form-check-input" formControlName="isrenter">
											<i class="fa fa-user text-muted" aria-hidden="true"> </i> {{formLabels?.isrenter?.name}}
										</label>
										<label class="form-check-inline">
											<input type="checkbox" class="form-check-input" formControlName="isuser">
											<i class="fa fa-user  text-white bg-warning" aria-hidden="true"> </i> {{formLabels?.isuser?.name}}
										</label>
									</div>
									<label class="form-check-inline" *ngIf="!full">
										<i *ngIf="!full" class="fa fa-user text-success" aria-hidden="true"> </i> {{formLabels?.ismember?.name}}
									</label>
									<hr *ngIf="full">

									<!--statements-->
									<div *ngIf="full">
										<div formArrayName="statements" class="form-group row">
											<div>
												<label class="col-md-1 col-form-label" for="statements">{{formLabels?.statement?.group}}</label>
											</div>
											<div class=" form-group row col-md-12">
												<div *ngFor="let statement of form.controls.statements.controls; let i=index" class="col-md-12">
													<div [formGroupName]="i">
														<le-statement [group]="form.controls.statements.controls[i]" [labels]="formLabels.statement" (selected)="statementSelected()" (removed)="removeStatement(i,'statements',$event)"
																		(updated)="updateStatement(i,'statements',$event)" (preparePrint)="preparePrint($event)"></le-statement>
													</div>
												</div>
											</div>
										</div>

										<small class="text-danger" *ngIf="form.controls.statements.errors || stmtError">{{formLabels?.statement?.mustExistOne}}</small>

										<div class="margin-20">
											<a (click)="addStatement('statements')" style="cursor: default "><i class="fa fa-plus"></i> {{formLabels?.statement?.add}}</a>
										</div>
									</div>

								</fieldset>

							</form>
						</div>
					</template>
				</ngb-tab>

				<ngb-tab [disabled]="!form.value.id">
					<template ngbTabTitle>{{formTitles?.conpeople}}</template>
					<template ngbTabContent>

						<table class="table table-hover table-sm ">
							<tbody>
								<tr *ngIf="conperson" [class.invisible]="!conperson.id">
									<td>
										<span *ngIf="!(conperson.id == form.value.mpersonId) && !isLocked()"><i (click)="toggleMember(conperson)" class="fa fa-check-square text-muted clickable" aria-hidden="true"></i> </span>
										<span *ngIf="(conperson.id == form.value.mpersonId) && !isLocked()"><i (click)="toggleMember(conperson)" class="fa fa-check-square text-success clickable" aria-hidden="true"></i> </span>
										<label class="form-label">
											{{formTitles?.conperson}}: {{conperson.firstname}} {{conperson.lastname}}, {{conperson.birthdate | date:'yyyy'}}
										</label>
									</td>
								</tr>
							</tbody>
						</table>


						<div class="card-block" *ngIf="choices && !isLocked()">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="{{formTitles?.searchString}}" #search (keyup.enter)="findMember(search.value,1)">
							</div>

							<table class="table table-hover table-sm ">
								<tbody>
									<tr *ngFor="let c of choices" [class.invisible]="!c.id">
										<td>
											<span *ngIf="!(c.id == form.value.mpersonId)"><i (click)="toggleMember(c)" class="fa fa-check-square text-muted clickable" aria-hidden="true"></i> </span>
											<span *ngIf="(c.id == form.value.mpersonId)"><i (click)="toggleMember(c)" class="fa fa-check-square text-success clickable" aria-hidden="true"></i> </span>
											<label class="form-label">
												{{c.firstname}} {{c.lastname}}, {{c.birthdate | date:'yyyy'}}
											</label>
										</td>
									</tr>
								</tbody>
							</table>
							<ngb-pagination [maxSize]="16" [rotate]="true" [boundaryLinks]="true" [collectionSize]="paginatorPCount" [pageSize]="paginatorPageSize" (pageChange)="findMember(search.value,$event)"
											size="sm"></ngb-pagination>
						</div>

					</template>
				</ngb-tab>
			</ngb-tabset>

			<form-button [form]="form" [formTitles]="formTitles" [isDelete]="isDelete()" [isLocked]="isLocked()" (onBack)="back()" (onSave)="save(form.value)" (onDelete)="delete(form.value)">
			</form-button>
			<ngb-alert *ngIf="error">{{error}}</ngb-alert>
		</div>

	</div>
</div>

<div #dataContainer class="container visible-print-block" style="padding-top: 0rem !important; padding-bottom: 0rem !important;">
</div>
{{model|json}}
