<div [formGroup]="personForm" >
    
    <!-- Text input-->
    <div *ngIf="!personForm.controls.relId.value && !isNew">
            <ng-select [allowClear]="false" [items]="personItems" [active]="personSel" (data)="refreshValue($event,'person')" placeholder="{{formLabels?.placeholder}}"
                (selected)="selectedPerson($event,'person')">
            </ng-select>
            <span *ngIf="!isDelete" class="help-block">{{formLabels?.help}}</span>

       </div>


    <!-- Text input-->

    <span class="text-muted" [class.text-primary]="isNew">{{personForm.controls.name.value}}&nbsp;
        <i *ngIf="isNew || personForm.controls.relId.value " class="fa fa-times" (click)="removePerson(personForm.controls.relId.value)"></i></span>

</div>