<template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled">
  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth"
    [class.text-muted]="disabled">
    {{ date.day }}
  </span>
</template>


<div class="container">
	<div class="card">
		<!-- Default panel contents -->
		<div class="card-header">
			<!-- Form title -->
			<form-title [param]="param" [formTitles]="formTitles" [isDelete]="isDelete()">
			</form-title>
			<h6 class="card-subtitle text-muted"><b>{{act.name}}</b> <i>{{act.opis | slice:0:50}} ...</i>
        <i class="fa fa-pencil text-success clickable" [routerLink]="['/form/activity',act.id,'u']"></i>
        <br>
        <b>Izvajalci</b> <span *ngFor="let t of teachers">{{t.name}} </span><br>
        <b>Prostovoljci</b> <span *ngFor="let v of volunteers">{{v.name}} </span>
      </h6>
			<span class="pull-right text-primary clickable" *ngIf="form.value.meventId" [routerLink]="['/form/event',form.value.meventId,'u']">
       {{formLabels?.meventId?.name}} <i class="fa fa-pencil text-success clickable" aria-hidden="true"></i>
      </span><br>
			<span [routerLink]="['/form/checkout']" class="text-danger pull-right clickable">&nbsp;<i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;Odjava udeleženca</span>			&nbsp;
			<span [routerLink]="['/form/checkin']" class="text-success pull-right clickable">&nbsp;<i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;Prijava udeleženca</span>&nbsp;

		</div>
		<div class="card-block">
			<ngb-tabset #t="ngbTabset">
				<ngb-tab id="event">
					<template ngbTabTitle>Urejanje <b>dogodka</b></template>
					<template ngbTabContent>
            <div class="card-block">
              <form [formGroup]="form">
                <fieldset>

                  <!-- Text input-->
                  <div class="form-group row">
                    <label class="col-form-label col-md-2" for="name">{{formLabels?.name?.name}}</label>
                    <div class="col-md-3">
                      <input formControlName="name" type="text" placeholder="{{formLabels?.name?.placeholder}}" class="form-control">
                      <small *ngIf="!isDelete" class="form-text text-muted">{{formLabels?.name?.help}}</small>
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group row">
                    <label class="col-form-label col-md-2" for="content">{{formLabels?.content?.name}}</label>
                    <div class="col-md-4">
                      <textarea class="form-control" formControlName="content" placeholder="{{formLabels?.content?.placeholder}}" rows="3">
							        </textarea>
                      <small class="form-text">{{formLabels?.content?.help}}</small>
                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-3">
                      <label class="form-check-inline">
                        <input type="checkbox" class="form-check-input" formControlName="isacc"> {{formLabels?.isacc?.name}}  
                      </label><span class="text-success small pull-right"> {{form.controls.adate.value | date: 'dd.MM.y'}}</span>
                      <br>

                      <label class="form-check-inline">
                        <input type="checkbox" class="form-check-input" formControlName="isoff"> {{formLabels?.isoff?.name}} 
                      </label>
                      <span class="text-danger small pull-right"> {{form.controls.odate.value | date: 'dd.MM.y' }}</span>
                    </div>


                  </div>

                  <!-- Text input room-->
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="room">{{formLabels?.room?.name}}</label>
                    <div class="col-md-3">
                      <ng-select [allowClear]="true" [items]="roomItems" [active]="roomSel" placeholder="{{formLabels?.room?.placeholder}}" (selected)="selected($event,'room')">
                      </ng-select>
                    </div>


                    <!-- Text input startdate-->
                    <label class="col-md-2 col-form-label" for="startdate">{{formLabels?.startdate?.name}}</label>
                    <div class="col-md-3">
                      <div class="input-group">
                        <input formControlName="startdate" readonly class="form-control" placeholder="{{formLabels?.startdate?.placeholder}}" ngbDatepicker
                          #dtp="ngbDatepicker" [dayTemplate]="customDay">
                        <div class="input-group-addon" (click)="dtp.toggle()">
                          <i class="fa fa-calendar clickable" aria-hidden="true"></i>
                        </div>
                      </div>
                      <small class="form-text text-muted">{{formLabels?.startdate?.help}}</small>
                    </div>
                  </div>

                  <!-- Text input start/ebd time-->
                  <div class="form-group row">

                    <label class="form-check-inline">
                      <input type="checkbox" class="form-check-input pull-left" formControlName="isday">
                      <i class="fa fa-clock-o" aria-hidden="true"> </i> {{formLabels?.isday?.name}}
                     </label>

                    <label class="col-md-1 col-form-label" for="starttime">{{formLabels?.starttime?.name}}</label>
                    <div class="col-md-3">
                      <div class="input-group">
                        <ngb-timepicker formControlName="starttime" [minuteStep]="minuteStep" [readonlyInputs]="form.value.isday || (form.value.startdate?.day == null)"></ngb-timepicker>
                      </div>
                      <small class="form-text text-muted">{{formLabels?.starttime?.help}}</small>
                    </div>
                    <div class="col-md-2">
                      <span class="text-muted clickable" (click)="setOffTime(45)">+        45 min</span><br>
                      <span class="text-muted clickable" (click)="setOffTime(60)">+  1 ura</span><br>
                      <span class="text-muted clickable" (click)="setOffTime(75)">+  1 ura 15 min</span><br>
                      <span class="text-muted clickable" (click)="setOffTime(90)">+  1 ura 30 min</span><br>
                    </div>
                    <label class="col-md-1 col-form-label" for="endtime">{{formLabels?.endtime?.name}}</label>
                    <div class="col-md-3">
                      <div class="input-group">
                        <ngb-timepicker formControlName="endtime" [minuteStep]="minuteStep"  [readonlyInputs]="form.value.isday || !form.value.startdate?.day"></ngb-timepicker>
                      </div>
                      <small class="form-text text-muted">{{formLabels?.endtime?.help}}</small>
                    </div>


                  </div>

                  <!-- Form buttons -->
                  <form-button [form]="form" [formTitles]="formTitles" [isDelete]="isDelete()" (onBack)="back()" (onSave)="save(form.value)"
                    (onDelete)="delete(form.value)">
                  </form-button>

                </fieldset>
              </form>
            </div>
          </template>
				</ngb-tab>
				<ngb-tab [disabled]="!form.value.id || form.value.meventId">
					<template ngbTabTitle>Urejanje <b>ponovitev</b></template>
					<template ngbTabContent>
            <div class="card-block">
              <form [formGroup]="rForm">
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="rType">{{formLabels?.rType?.name}}</label>
                  <div class="col-md-3">
                    <ng-select [allowClear]="true" [items]="rTypeItems" [active]="rTypeSel" placeholder="{{formLabels?.rType?.placeholder}}"
                      (selected)="selected($event,'rType')">
                    </ng-select>
                  </div>
                  <label class="col-form-label col-md-2" for="rCnt">{{formLabels?.rCnt?.name}}</label>
                  <div class="col-xs-1">
                    <input formControlName="rCnt" maxlength="2" type="text" placeholder="{{formLabels?.rCnt?.placeholder}}" class="form-control">
                    <small *ngIf="!isDelete" class="form-text text-muted">{{formLabels?.rCnt?.help}}</small>
                  </div>
                  <label *ngIf="rTypeSel[0].id!='w'" class="form-check-inline">
                <input type="checkbox" class="form-check-input pull-left" formControlName="skipWeekend">
                {{formLabels?.skipWeekend?.name}}
              </label>
                </div>
                <div class="form-group row">
                  <label class="form-check-inline">
                <input type="checkbox" class="form-check-input pull-left" formControlName="deleteAllNotFirst">
                {{formLabels?.deleteAllNotFirst?.name}}
              </label>
                  <!-- Text input startdate-->
                  <label class="col-md-2 col-form-label" for="enddate">{{formLabels?.enddate?.name}}</label>
                  <div class="col-md-3">
                    <div class="input-group">
                      <input formControlName="enddate" readonly class="form-control" placeholder="{{formLabels?.enddate?.placeholder}}" ngbDatepicker
                        #dtpe="ngbDatepicker" [dayTemplate]="customDay">
                      <div class="input-group-addon" (click)="dtpe.toggle()">
                        <i class="fa fa-calendar clickable" aria-hidden="true"></i>
                      </div>
                    </div>
                    <small class="form-text text-muted">{{formLabels?.enddate?.help}}</small>
                  </div>
                </div>
                <button [disabled]="!rForm.value.rCnt > 0" class="btn btn-primary" (click)="repeatEvent(); false">{{formTitles?.addRep}}</button>

                <hr>
                <h5>{{formTitles?.existingSeries}}</h5>
                <table *ngIf="eventss" class="table-sm table-hover table">
                  <tr *ngFor="let e of eventss" class="text-primary">
                    <td *ngIf="e.id" [class.bg-faded]="selEvt && e.id == selEvt">
                      <i *ngIf="selEvt && e.id == selEvt" class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> {{e.name}}
                      <span class="text-muted"> {{e.starttime | date: 'dd.MM.yy hh:mm'}} - {{e.endtime | date : 'hh:mm'}}</span>
                      <span *ngIf="e.cnt" style="font-size:12px" class="text-success"> {{formLabels.cnt?.name}} {{e.cnt}}</span>
<a *ngIf="!confirmation" [routerLink]="['/form/event',e.id,'u']" (click)="t.select('event')">
  <i class="fa fa-pencil text-success clickable" aria-hidden="true"></i>
</a>
</td>
<td *ngIf="!e.id" class="invisible">&nbsp;</td>
</tr>
</table>
<ngb-pagination [collectionSize]="paginatorECount" [(page)]="paginatorInitPage" (pageChange)="findEvent($event)" size="sm"
  [pageSize]="paginatorPageSize"></ngb-pagination>



</form>
</div>
</template>
				</ngb-tab>
				<ngb-tab [disabled]="!form.value.id" title="Brisanje">
					<template ngbTabContent>
    <div class="card-block">

      <div class="form-group" [hidden]="form.value.meventId">
        <label class="form-check-inline">
                <input class="form-check-input" checked type="radio" name="IRO" (click)="setDeleteRule('deleteAllNotFirst')">
                {{formLabels?.deleteAllNotFirst?.name}}</label>
      </div>
      <div class="form-group" [hidden]="form.value.meventId">
        <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="IRO" (click)="setDeleteRule('deleteAll')">
                {{formLabels?.deleteAll?.name}}</label>
      </div>
      <div class="form-group">
        <label *ngIf="!form.value.meventId" class="form-check-inline">
                <input class="form-check-input" type="radio" name="IRO" (click)="setDeleteRule('deleteNextNotMe')">
                {{formLabels?.deleteNextNotMe?.name}}</label>
      </div>
      <div class="form-group">
        <label *ngIf="form.value.meventId" class="form-check-inline">
                <input class="form-check-input" type="radio" name="IRO" (click)="setDeleteRule('deleteMe')">
                {{formLabels?.deleteMe?.name}}</label>
      </div>
      <button class="btn btn-danger" (click)="deleteEvent(); false">{{formTitles?.delete}}</button>
    </div>
  </template>
				</ngb-tab>
			</ngb-tabset>
		</div>
	</div>
</div>
