<!-- schedule component -->
<div class="container w-100">
	<div class="row">
		<div class="col-md-3 hidden-print">
			<h4>{{formTitles?.members}}</h4>
			<!-- Table -->
			<div *ngIf="members">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="{{formTitles?.searchString}}" #search (keyup.enter)="findMember(search.value,1)">
				</div>

				<table class="table table-hover table-sm ">
					<tbody>
						<tr *ngFor="let c of members" [class.invisible]="!c.personId" class="clickable">
							<td>
								<span (click)="selectMember(c)" [class.text-primary]="c.personId == selMember?.id">{{c.firstname}} {{c.lastname}}</span>
							</td>
							<td>
								<a [routerLink]="['/view/event',{'id':c.id,'type':'member'}]"><i class="fa fa-clipboard pull-right" aria-hidden="true"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<ngb-pagination [collectionSize]="paginatorPCount" [pageSize]="paginatorPageSize" (pageChange)="findMember(search.value,$event)" size="sm"></ngb-pagination>
			</div>
		</div>
		<div class="col-md-5" *ngIf="data">
			<strong class="visible-print-block">{{selMember.firstname}} {{selMember.lastname}}</strong>
			<div>
				<div class="btn btn-link btn-xs hidden-print" (click)="previous(); false">
					<i (click)="previous(); false" class="fa fa-chevron-circle-left" aria-hidden="true"></i><span> Prejšnji mesec</span>
				</div>
				<strong>Prijave za mesec: {{month}}</strong>
				<div class="btn btn-link btn-xs hidden-print" (click)="next(); false">
					<span>Naslednji mesec </span><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
				</div>
			</div>

			<font size="2em">
				<table class="table-sm table-hover">
					<thead>
						<th style="text-align:center">Datum</th>
						<th style="text-align:center">Termin</th>
						<th style="text-align:center">Aktivnost, dogodek</th>
						<th style="text-align:center">Potrditev - preklic<br>udeležbe</th>
					</thead>
					<tr *ngFor="let d of data" [class.bottbord]="d.day">

						<td style="text-align:center;font-size:0.8em" [class.fbold]="d.day">{{d?.starttime | date:'dd.MM.yyyy'}}</td>
						<td style="text-align:center;font-size:0.8em;font-weight: bold">{{d?.starttime | date:'HH:mm'}} - {{d?.endtime | date:'HH:mm'}}</td>
						<td>
							<i [style.color]="d.color" class="fa fa-square" aria-hidden="true"></i>

							<span *ngIf="d.eacc"><i class="fa fa-check-square text-success" aria-hidden="true"></i></span>
							<span *ngIf="d.eoff"><i class="fa fa-check-square text-danger" aria-hidden="true"></i></span>

							<span [routerLink]="['/form/event',d.id,'u']" class="clickable">{{d.aname}}, {{d.name}}</span>

							<span *ngIf="d.isrented" class="tag tag-info">najem</span>
						</td>
						<td style="text-align:center;">

							<i ngbTooltip="{{formTitles?.off}}" [class.text-muted]="!d.odate" [class.text-danger]="d.odate" class="fa fa-user-circle-o" aria-hidden="true" (click)="toggle(d,'off')"></i>
							<i ngbTooltip="{{formTitles?.ack}}" [class.text-muted]="!d.adate" [class.text-success]="d.adate" class="fa fa-user-circle" aria-hidden="true" (click)="toggle(d,'ack')"></i>

						</td>
					</tr>
				</table>
			</font>
		</div>

		<div class="col-md-4" *ngIf="stat"><br>

			<b>Podatki za {{month}}</b>
			<hr>
			<table class="table-sm table-hover">
				<tr *ngFor="let s of stat">

					<td *ngIf="!s.off && !s.ack">Število prijav</td>
					<td *ngIf="!s.off && s.ack">Število potrditev</td>
					<td *ngIf="s.off">Število odjav</td>

					<td *ngIf="!s.off && !s.ack" style="text-align:center;"><b class="text-muted">{{s.cnt}}</b></td>
					<td *ngIf="!s.off && s.ack" style="text-align:center;"><b class="text-success">{{s.cnt}}</b></td>
					<td *ngIf="!s.off && s.ack" style="text-align:center;"><b class="text-success">{{s.sumtime}}</b></td>
					<td *ngIf="s.off" style="text-align:center;"><b class="text-danger">{{s.cnt}}</b></td>

				</tr>
				<tr>
					<td>Skupaj vseh prijav</td>
					<td style="text-align:center;"><b>{{data?.length}}</b></td>
				</tr>
			</table>
			<hr>

			<b>Podatki za {{year}}</b>
			<hr>
			<table class="table-sm table-hover">
				<tr>

					<td>Število prijav</td>
					<td style="text-align:center;"><b class="text-muted">{{stat2Reg}}</b></td>
				</tr>
				<tr>
					<td>Število potrditev</td>
					<td style="text-align:center;"><b class="text-success">{{stat2Ack}}</b></td>
					
				</tr>
				<tr>
					<td>Število odjav</td>
					<td style="text-align:center;"><b class="text-danger">{{stat2Off}}</b></td>
				</tr>
				<tr>
					<td>Skupaj vseh prijav</td>
					<td style="text-align:center;"><b>{{stat2Cnt}}</b></td>
				</tr>
			</table>
			

			<canvas baseChart [colors]="barChartColors" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>

			<button class="btn btn-info btn-xs hidden-print" (click)="print(); false">  
   			  <i class="fa fa-print"></i> 
		    </button>
		</div>

	</div>
</div>
