<div class="container col-md-1"></div>
<div class="container col-md-10">
	<ul class="timeline">
		<li>
			<div class="timeline-badge primary"><i class="fa fa-exclamation-circle"></i></div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">Dobrodošli v sistemu VGCCRM</h4>
				</div>
				<div class="timeline-body">
					<p>Za prijavo osvežite stran ali uporabite spodnjo povezavo</p>
				</div>
				<a class="clickable text-primary" (click)=_auth.login()><i class="fa fa-sign-in" aria-hidden="true"></i> Prijava</a>
			</div>
		</li>
	</ul>
</div>
