<!-- schedule component -->
<div class="container w-100">
	<div class="row">
	</div>
	<div class="row">
		<div class="col-md-3">
			<ngb-tabset>
				<ngb-tab>
					<template ngbTabTitle>{{formTitles?.locations}}</template>
					<template ngbTabContent>
						<!-- Table -->
						<div class="card-block" *ngIf="choices">
							<div class="input-group invisible">
								<input type="text" class="form-control" placeholder="{{formTitles?.searchString}}" #search (keyup.enter)="findPeople(search.value,1)">
							</div>
							<table class="table table-hover table-sm ">
								<tbody>
									<tr *ngFor="let c of choices">
										<td (click)="toggle(c.id);false;">
											<label class="form-check-inline">
												&nbsp;
												<input type="checkbox" class="form-check-input pull-left" [checked]="exists(c.id)"> {{c.name}}
												<br><small>{{c.partname}}</small></label>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</template>
				</ngb-tab>
			</ngb-tabset>
			<label class="form-check-inline">
				&nbsp;
				<input type="checkbox" class="form-check-input pull-left" (click)="toggleCanceled()">{{formTitles?.showCanceled}}</label>
		</div>
		<div class="col-md-8">
			<le-schedule [defaultView]="defaultView" [events]="events" [header]="header" [eventLimit]="12" [editable]="true" [nowIndicator]="false" (onDayClick)="handleDayClick($event)"
			    (onEventClick)="handleEventClick($event)" (onEventDrop)="handleEventDrop($event)" (onEventResize)="handleEventResize($event)" (viewRender)="viewRender($event)">
			</le-schedule>
		</div>
	</div>
</div>
