<!-- schedule component -->
<div class="container w-100">
	<div class="row">
		<div class="col-md-3">
			<h4>{{formTitles?.locations}}</h4>
			<!-- Table -->
			<div *ngIf="choices">
				<table class="table table-hover table-sm ">
					<tbody>
						<tr *ngFor="let c of choices">
							<td (click)="toggle(c.id)">
								&nbsp;<input type="checkbox" class="form-check-input pull-left" [checked]="exists(c.id)" > {{c.name}}
								<br><small>{{c.partname}}</small>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-8">
			<le-schedule [defaultView]="defaultView" [events]="events" [header]="header" [eventLimit]="12" [editable]="true" [nowIndicator]="false" (onDayClick)="handleDayClick($event)"
							(onEventClick)="handleEventClick($event)" (onEventDrop)="handleEventDrop($event)" (onEventResize)="handleEventResize($event)" (viewRender)="viewRender($event)">
				</le-schedule>
		</div>
	</div>
</div>
