<div class="container">
  <div class="card">
    <!-- Default panel contents -->
    <div class="card-header">

      <!-- Form title -->
      <form-title [param]="param" [formTitles]="formTitles" [isDelete]="isDelete()">
      </form-title>
    </div>

    <div class="card-block">
      <form [formGroup]="form">
        <fieldset>

          <!-- Text input-->
          <div class="form-group row">
            <label class="col-form-label col-md-2" for="gui">{{formLabels?.gui?.name}}</label>
            <div class="col-md-3">
              <input formControlName="gui" type="text" placeholder="{{formLabels?.gui?.placeholder}}" class="form-control" readonly>
              <small *ngIf="!isDelete" class="form-text text-muted">{{formLabels?.gui?.help}}</small>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group row">
            <label class="col-form-label col-md-2" for="msg">{{formLabels?.msg?.name}}</label>
            <div class="col-md-4">
              <textarea class="form-control" formControlName="msg" placeholder="{{formLabels?.msg?.placeholder}}" rows="3" readonly>
							</textarea>
              <small class="form-text">{{formLabels?.msg?.help}}</small>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-md-2" for="cdate">{{formLabels?.cdate?.name}}</label>
            <label class="col-form-label col-md-2" for="cdate">{{form.value.cdate | date: formLabels?.cdate?.format}}</label>
          </div>

          <hr>


          <!-- Text input-->
          <div class="form-group row">
            <label class="col-form-label col-md-2" for="response">{{formLabels?.response?.name}}</label>
            <div class="col-md-4">
              <textarea [readonly]="form.value.fdate" class="form-control" formControlName="response" placeholder="{{formLabels?.response?.placeholder}}" rows="3">
							</textarea>
              <small class="form-text">{{formLabels?.response?.help}}</small>
            </div>
            <button *ngIf="!form.value.fdate" type="button" (click)="finish(form.value)" class="btn btn-primary btn-sm">{{formLabels?.actions?.finish?.name}}</button>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-md-2" for="fdate">{{formLabels?.fdate?.name}}</label>
            <label class="col-form-label col-md-2" for="fdate">{{form.value.fdate | date: formLabels?.fdate?.format}}</label>
          </div>


          <!-- Form buttons -->
          <form-button [form]="form" [formTitles]="formTitles" [isDelete]="isDelete()" (onBack)="back()" (onSave)="save(form.value)"
            (onDelete)="delete(form.value)">
          </form-button>

        </fieldset>
      </form>
    </div>
  </div>
</div>