<div class="container">
  <div class="card">

    <!-- Default panel contents -->
    <div class="card-header">
      <!-- Form title -->
      <form-title [param]="param" [formTitles]="formTitles" [isDelete]="isDelete()">
      </form-title>
      <span class="pull-right text-muted clickable" [routerLink]="['/schedule/month']"><i class="fa fa-calendar" aria-hidden="true"></i> {{formTitles?.monthSchedule}} </span>
      <span class="pull-right text-muted clickable" [routerLink]="['/genlist/activity']"><i class="fa fa-clipboard" aria-hidden="true"></i> {{formTitles?.activities}}&nbsp;</span>
    </div>

    <div class="card-block">
      
      <ul *ngIf="confirmation" class="nav nav-tabs">
        <li class="nav-item">
          <i class="fa fa-bars" aria-hidden="true"></i> {{formLabels.list?.name}}
        </li>
      </ul>
      <ul *ngIf="!actTab && !confirmation" class="nav nav-tabs">
        <li class="nav-item">
          <i class="fa fa-clipboard" aria-hidden="true"></i> {{formLabels.activity?.name}} <b>{{act.name}}</b>
          <i [style.color]="act.color" class="fa fa-square" aria-hidden="true"></i>
        </li>
      </ul>
      <ul *ngIf="actTab && !confirmation" class="nav nav-tabs">
        <li class="nav-item">
          <i *ngIf="prs.isteacher" class="fa fa-user text-primary" aria-hidden="true"></i>
          <i *ngIf="prs.isvolunteer" class="fa fa-user text-info" aria-hidden="true"></i>
          <i *ngIf="prs.ismember" class="fa fa-user text-success" aria-hidden="true"></i>
          {{formLabels.prs?.name}} <b>{{prs.firstname}} {{prs.lastname}}</b> 
          <a [routerLink]="['/form/person',prs.id,'u']"><i class="fa fa-pencil text-success clickable" aria-hidden="true"></i></a>
        </li>
      </ul>
      <div *ngIf="!actTab && !confirmation">
        <i>{{act.opis}}</i><br>
        <b>Izvajalci</b> <span *ngFor="let t of teachers">{{t.name}} </span><br>
        <b>Prostovoljci</b> <span *ngFor="let v of volunteers">{{v.name}} </span>
      </div>
      <div *ngIf="actTab || confirmation">
        <small></small><br>
      </div>
       
      <ngb-tabset #t="ngbTabset" (tabChange)="beforeChange($event)">

        <ngb-tab id="activity" *ngIf="actTab">
          <template ngbTabTitle><i class="fa fa-clipboard" aria-hidden="true"></i> {{formLabels.activities?.name}}</template>
          <template ngbTabContent>
            <div class="card-block">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="{{formTitles?.search}}" #activity (keyup.enter)="findActivities(activity.value,1)">
              </div>
              <table *ngIf="activities" class="table-sm table-hover table">
                <tr *ngFor="let a of activities" class="text-primary">
                  <td *ngIf="a.id" (click)="selectActivity(a.id);t.select('events')" [class.bg-faded]="selAct && a.id == selAct">
                    <i *ngIf="selAct && a.id == selAct" class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> 
                    <i [style.color]="a.color" class="fa fa-square" aria-hidden="true"></i> {{a.name}}</td>
                  <td *ngIf="!a.id" class="invisible">&nbsp;</td>
                </tr>
                <ngb-pagination [collectionSize]="paginatorACount" [(page)]="paginatorInitPage" (pageChange)="findActivities(activity.value,$event)"
                  size="sm"></ngb-pagination>
              </table>
            </div>
          </template>
        </ngb-tab>

        <ngb-tab id="events">
          <template ngbTabTitle><i class="fa fa-calendar-minus-o" aria-hidden="true"></i> {{formLabels.events?.name}}
            <a *ngIf="!confirmation" [routerLink]="['/form/event',param.id,'u']"><i class="fa fa-pencil text-success clickable" aria-hidden="true"></i></a>
          </template>
          <template ngbTabContent>
            <div class="card-block">
              <div class="input-group invisible">
                <input type="text" class="form-control" placeholder="Search for...">
              </div>
              <table *ngIf="eventss" class="table-sm table-hover table">
                <tr *ngFor="let e of eventss" class="text-primary">
                  <td *ngIf="e.id" (click)="selectEvent(e.id);t.select('person')" [class.bg-faded]="selEvt && e.id == selEvt">
                    <i *ngIf="selEvt && e.id == selEvt" class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> {{e.name}}
                    <span style="font-size:10px" class="text-muted">{{e.starttime | date: 'dd.MM.yy hh:mm'}}, {{e.endtime | date : 'dd.MM.yy hh:mm'}}</span>
                    <span *ngIf="e.cnt" style="font-size:12px" class="text-success"> {{formLabels.cnt?.name}} {{e.cnt}}</span>
                    <a *ngIf="!confirmation" [routerLink]="['/form/event',e.id,'u']"><i class="fa fa-pencil text-success clickable" aria-hidden="true"></i></a>
                  </td>
                  <td *ngIf="!e.id" class="invisible">&nbsp;</td>
                </tr>
                <ngb-pagination [collectionSize]="paginatorECount" [(page)]="paginatorInitPage" (pageChange)="findEvent($event)" size="sm" [pageSize]="paginatorPageSize"></ngb-pagination>
              </table>
            </div>
          </template>
        </ngb-tab>


        <ngb-tab id="person">
          <template ngbTabTitle><i class="fa fa-user" aria-hidden="true"></i> {{formLabels?.person?.name}}</template>
          <template ngbTabContent>
            <div class="card-block">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="{{formTitles?.search}}" #person (keyup.enter)="findPerson(person.value,$event)">
              </div>
              <table *ngIf="people" class="table-sm table-hover table">
                <tr *ngFor="let p of people" class="text-primary">
                  <td *ngIf="p.personId" (click)="selectPerson(p);t.select('activity')">{{p.firstname}} {{p.lastname}}</td>
                  <td *ngIf="!p.personId" class="invisible">&nbsp;</td>
                  <td *ngIf="p.personId">
                      <i  placement="bottom" ngbTooltip="{{formTitles?.off}}" [class.text-muted]="!p.odate" [class.text-danger]="p.odate" class="fa fa-user-circle-o pull-right" aria-hidden="true" (click)="toggle(p,'off')"> </i>
                      <i  placement="top" ngbTooltip="{{formTitles?.ack}}" [class.text-muted]="!p.adate"  [class.text-success]="p.adate" class="fa fa-user-circle pull-right" aria-hidden="true" (click)="toggle(p,'ack')"></i>
                  </td>
                </tr>
                <ngb-pagination *ngIf="paginatorPCount" [collectionSize]="paginatorPCount" [(page)]="paginatorInitPage" (pageChange)="findPerson(person.value,$event)"
                  size="sm" [pageSize]="paginatorPageSize"></ngb-pagination>
              </table>
              <button class="btn btn-outline-info btn-xs pull-right" (click)="preparePrint(1)">
                <i class="fa fa-print" aria-hidden="true"></i>
                <i class="fa fa-user-circle text-success" aria-hidden="true"></i>
              </button>
              <button class="btn btn-outline-info btn-xs pull-right" (click)="preparePrint(2)">
                <i class="fa fa-print" aria-hidden="true"></i>
                <i class="fa fa-user-circle-o text-danger" aria-hidden="true"></i>
              </button>
              <button class="btn btn-outline-info btn-xs pull-right" (click)="preparePrint(3)">
                <i class="fa fa-print" aria-hidden="true"></i>
                <i class="fa fa-user-circle text-muted" aria-hidden="true"></i>
                <i class="fa fa-user-circle-o text-muted" aria-hidden="true"></i>
              </button>  
            </div>
          </template>
        </ngb-tab>
      </ngb-tabset>
        <ngb-alert *ngIf="error">{{error}}</ngb-alert>


    </div>
  </div>
</div>