<div [formGroup]="addressForm">
    <!-- Text input-->
    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="address">{{formLabels?.address?.name}}</label>
        <div class="col-md-3">
            <input formControlName="address" type="text" placeholder="{{formLabels?.address?.placeholder}}" class="form-control">
            <span *ngIf="!isDelete" class="help-block">{{formLabels?.address?.help}}</span>
        </div>

    </div>

    <!-- Text input-->
    <div class="form-group row">
        <label class="col-md-2 col-form-label" for="commune">{{formLabels?.commune?.name}}</label>
        <div class="col-md-3">
            <input formControlName="commune" type="text" placeholder="{{formLabels?.commune?.placeholder}}" class="form-control">
            <span *ngIf="!isDelete" class="help-block">{{formLabels?.commune?.help}}</span>
        </div>

        <label class="col-md-1 col-form-label" for="post">{{formLabels?.post?.name}}</label>
        <div class="col-md-4">
            <input formControlName="post" type="text" placeholder="{{formLabels?.post?.placeholder}}" class="form-control">
            <span *ngIf="!isDelete" class="help-block">{{formLabels?.post?.help}}</span>
        </div>
    </div>
</div>