<div class="container">
  <div class="card">
    <!-- Default panel contents -->
    <div class="card-header">

      <!-- Form title -->
      <form-title [param]="param" [formTitles]="formTitles" [isDelete]="isDelete()">
      </form-title>
    </div>

    <div class="card-block">
      <form [formGroup]="form">
        <fieldset>

          <!-- Text input-->
          <div class="form-group row">
            <label class="col-md-1 col-form-label" for="name">{{formLabels?.name?.name}}</label>
            <div class="col-md-6">
              <input formControlName="name" type="text" placeholder="{{formLabels?.name?.placeholder}}" class="form-control">
              <small *ngIf="!isDelete" class="form-text text-muted">{{formLabels?.name?.help}}</small>
              <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="text-warning">{{formTitles?.required}}</div>
            </div>

            <!-- Text input-->
            <label class="col-md-1 col-form-label" for="theme">{{formLabels?.theme?.name}}</label>
            <div class="col-md-3">
              <ng-select [allowClear]="true" [items]="themeItems" [active]="themeSel" (data)="refreshValue($event,'theme')" placeholder="{{formLabels?.theme?.placeholder}}"
                (selected)="selected($event,'theme')">
              </ng-select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-1 col-form-label" for="content">{{formLabels?.content?.name}}</label>
            <div class="col-md-6">
              <textarea formControlName="content" rows="4" placeholder="{{formLabels?.content?.placeholder}}" class="form-control">
              </textarea>
              <small *ngIf="!isDelete" class="form-text text-muted">{{formLabels?.content?.help}}</small>
              <div *ngIf="form.controls['content'].hasError('required') && form.controls['content'].touched" class="text-warning">{{formTitles?.required}}</div>
            </div>
          </div>
        </fieldset>
        <hr>

        <!--teachers-->
        <div formArrayName="teachers" class="form-group row">
          <div>
            <label class="col-md-1 col-form-label" for="teachers">{{formLabels?.teacher?.group}}</label>
          </div>
          <div class="form-group row col-md-12">
            <div *ngFor="let teacher of form.controls.teachers.controls; let i=index" class="col-md-3">
              <div [formGroupName]="i">
                <person [teacher]="true" [group]="form.controls.teachers.controls[i]" [labels]="formLabels.teacher" (removed)="removePerson(i,'teachers',$event)"></person>
              </div>
            </div>
          </div>
        </div>
        <small class="text-danger" *ngIf="form.controls.teachers.errors">{{formLabels?.teacher?.mustExistOne}}</small>

        <div class="margin-20">
          <a (click)="addPerson('teachers')" style="cursor: default ">
            <i class="fa fa-plus"></i> {{formLabels?.teacher?.add}}
          </a>
        </div>
        <hr>

        <!--volunteers-->
        <div formArrayName="volunteers" class="form-group row">
          <div>
            <label class="col-md-1 col-form-label" for="volunteers">{{formLabels?.volunteer?.group}}</label>
          </div>
          <div class=" form-group row col-md-12">
            <div *ngFor="let volunteer of form.controls.volunteers.controls; let i=index" class="col-md-3">
              <div [formGroupName]="i">
                <person [volunteer]="true" [group]="form.controls.volunteers.controls[i]" [labels]="formLabels.volunteer" (removed)="removePerson(i,'volunteers',$event)"></person>
              </div>
             </div>
           </div>
        </div>

        <div class="margin-20">
          <a (click)="addPerson('volunteers')" style="cursor: default ">
            <i class="fa fa-plus"></i> {{formLabels?.volunteer?.add}}
          </a>
        </div>


        <!-- Form buttons -->
        <form-button [form]="form" [formTitles]="formTitles" [isDelete]="isDelete()" (onBack)="back()" (onSave)="save(form.value)"
          (onDelete)="delete(form.value)">
        </form-button>


      </form>
    </div>
  </div>
</div>