<div class="container">
	<div *ngIf="labels" class="card">
		<div class="card-header">
			<h4 class="card-title">{{labels.titles.genlist}}</h4>
			<h6 *ngIf="labels.newRecordRoute" class="card-subtitle clickable text-muted" (click)="newRecord(labels.newRecordRoute)">
				<i class="fa fa-plus"></i> {{labels.titles.formNew}}
			</h6>
		</div>

		<div class="card-block">

			<!-- Table -->
			<div *ngIf="data[0]">
				
				<table class="table table-hover table-sm ">
					<thead class="thead-inverse">
						<tr>
	
							<th *ngFor="let d of data[0] | keys" [class.col-md-1]="i==0"><span *ngIf="!labels.properties[d]?.noheader">{{labels.properties[d]?.name}}</span></th>
							<th></th>
						</tr>

					</thead>

					<tbody>
						<tr *ngFor="let d of data">
							<td *ngFor='let val of d | values; let i = index'>
							<span *ngIf="!labels.properties[val.key]?.hidden">	
								<span *ngIf="labels.properties[val.key]?.format">
									{{val.value | date: labels.properties[val.key].format}}
								</span>
								
								<span *ngIf="labels.properties[val.key]?.type!='color' && 
											 !labels.properties[val.key]?.format && 
											 labels.properties[val.key]?.type!='boolean' ">{{val.value}}</span>

								<i *ngIf="labels.properties[val.key]?.type=='boolean' && val.value==1"  
									class="fa fa-user text-{{labels.properties[val.key]?.true}}" aria-hidden="true"></i>

								<i [style.color]="val.value" *ngIf="labels.properties[val.key]?.type=='color'" class="fa fa-square" aria-hidden="true"></i>
							</span>
							</td>
							<td >
								<span *ngFor="let action of labels.actions">
								 <a *ngIf="action.route" [routerLink]="[action.route,{id:action.id,val:d.id}]"><i [ngClass]="action.icon" class="clickable" aria-hidden="true"></i></a>
								</span>
								<a [routerLink]="['/form',labels.route,d.id,'u']"><i class="fa fa-pencil text-success clickable" aria-hidden="true"></i></a>
								<a [routerLink]="['/form',labels.route,d.id,'b']"><i class="fa fa-times text-muted  clickable" aria-hidden="true"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			
			<ngb-pagination [collectionSize]="paginatorCount" [(page)]="paginatorInitPage" (pageChange)="pageChange($event)" size="sm"></ngb-pagination>

		</div>
	</div>

<div *ngIf="!labels">Šifrant ne obstaja</div>
</div>