<div class="container">
	<div *ngIf="labels" class="card">
		<div class="card-header">
			<h4 class="card-title">{{labels.titles.genlist}}</h4>
			<h6><span *ngIf="labels.newRecordRoute" class="card-subtitle clickable text-muted" (click)="navigate(labels.newRecordRoute)">
				<i class="fa fa-plus"></i> {{labels.titles.formNew}}
			</span>
				<span *ngIf="labels.back" class="card-subtitle clickable text-muted" (click)="navigate(labels.back)">
				<i class="fa fa-link"></i> {{labels.titles.back}}
			</span>
			</h6>
		</div>

		<div class="card-block">
			<div class="input-group">
				<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input type="text" class="form-control" placeholder="{{labels.titles.searchString}}" #search (keyup.enter)="pageChange(search.value,1)">
			</div>

			<!-- Table -->
			<div *ngIf="data[0]">
				<table class="table table-hover table-sm">
					<thead class="thead-inverse">
						<tr>
							<th *ngFor="let d of labels.genlist; let i =index" [class.tableIdWidth]="i==0">
								<span *ngIf="!labels.properties[d]?.noheader && !labels.properties[d]?.genlist">{{labels.properties[d]?.name}}</span>
								<span *ngIf="!labels.properties[d]?.noheader && labels.properties[d]?.genlist">{{labels.properties[d]?.genlist}}</span>
							</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let d of data; let y = index">
							<td *ngFor="let val of labels.genlist; let i =index" [class.tableIdWidth]="i==0" [class.invisible]="!d.id">
								<span *ngIf="!labels.properties[val]?.hidden && !(!labels.properties[val]?.free && d.locked )">

									<span *ngIf="labels.properties[val]?.format">
										{{d[val] | date: labels.properties[val].format}}
									</span>

									<span *ngIf="labels.properties[val]?.type!='color' && 
											 !labels.properties[val]?.format && 
											 labels.properties[val]?.type!='tag' &&
											 labels.properties[val]?.type!='etag' &&
											 labels.properties[val]?.type!='partner' &&
											 labels.properties[val]?.type!='boolean' && d[val]" >
											 <span class="clickable" *ngIf="labels.properties[val].link" [routerLink]="['/form',labels.route,d.id,'u']">{{d[val]+'' | slice:0:labels.properties[val]?.length}} </span>
											 <span *ngIf="!labels.properties[val].link">{{d[val]+'' | slice:0:labels.properties[val]?.length}} </span>
										<span *ngIf="d[val].length > labels.properties[val]?.length">...</span>
									</span>

									<i *ngIf="labels.properties[val]?.type=='boolean' && d[val]==1" class="fa fa-user text-{{labels.properties[val]?.true}}" aria-hidden="true"></i>

									<span *ngIf="labels.properties[val]?.type=='tag' && d[val]==1" class="tag tag-{{labels.properties[val]?.true}}">{{labels.properties[val]?.tagTxt}}</span>

									<span *ngIf="labels.properties[val]?.type=='etag' && d[val]" class="tag tag-{{labels.properties[val]?.true}}">{{labels.properties[val]?.tagTxt}}</span>

									<i [style.color]="d[val]" *ngIf="labels.properties[val]?.type=='color'" class="fa fa-square" aria-hidden="true"></i>

									<span *ngIf="labels.properties[val]?.type == 'partner' && d[val]">{{getPartnerName(d[val])}}</span>

								</span>
							</td>
							<td *ngIf="d.id" align="right">
								<span *ngFor="let action of labels.actions">
									<a *ngIf="action.route" [routerLink]="[action.route,{type:action.type,id:d.id}]"><i ngbTooltip="{{action.name}}" [ngClass]="action.icon" class="clickable" aria-hidden="true"></i></a>
								</span>
								<a [routerLink]="['/form',labels.route,d.id,'u']"><i class="fa fa-pencil text-success clickable" aria-hidden="true"></i></a>
								<a [routerLink]="['/form',labels.route,d.id,'b']"><i class="fa fa-times text-muted  clickable" aria-hidden="true"></i></a>
							</td>
							<td *ngIf="!d.id" class="invisible">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>

			<ngb-pagination [maxSize]="20" [rotate]="true" [boundaryLinks]="true" [collectionSize]="paginatorCount" [(page)]="paginatorInitPage" (pageChange)="pageChange(search.value,$event)"
			    [pageSize]="paginatorPageSize" size="sm"></ngb-pagination>

		</div>
	</div>
	<div *ngIf="!labels">Šifrant ne obstaja</div>
</div>
