<div [formGroup]="statementForm">

	<!-- Text input-->
	<div *ngIf="!statementForm.controls.relId.value && !isNew">
		<div class="col-md-4">
			<ng-select [allowClear]="false" [items]="statementItems" [active]="statementSel" (data)="refreshValue($event,'statement')" placeholder="{{formLabels2?.placeholder}}"
							(selected)="selectedValue($event,'statement')">
				</ng-select>
				<span *ngIf="!isDelete" class="help-block">{{formLabels2?.help}}</span>
		</div>
		<!-- Text input-->
		<label class="col-md-2 col-form-label" for="location">{{formLabels2?.location?.name}}</label>
		<div class="col-md-4">
			<ng-select [allowClear]="true" [items]="locationItems" [active]="locationSel" (data)="refreshValue($event,'location')" placeholder="{{formLabels2?.location?.placeholder}}"
							(selected)="selectedValue($event,'location')">
				</ng-select>
		</div>
	</div>


	<!-- Text input-->
	<i *ngIf="statementForm.controls.relId.value || isNew" class="fa fa-print" (click)="clickx(statementForm.value.statementId)"></i>
	<span class="text-muted" [class.text-primary]="isNew"> {{statementForm.controls.name.value}}
		<span *ngIf="locationName">- {{locationName}}</span>
		<i *ngIf="isNew || statementForm.controls.relId.value " class="fa fa-times" (click)="removestatement(statementForm.controls.relId.value)"></i></span>
</div>
