<div class="container w-100">
	<span *ngIf="type=='widget'" class="card-title"><i [routerLink]="['/plan']" class="fa fa-university clickable" aria-hidden="true"></i> Pregled zasedenosti prostorov na današnji dan, {{today}}</span>
	<h5 *ngIf="type!='widget'" class="card-title"><i [routerLink]="['/plan']" class="fa fa-university clickable" aria-hidden="true"></i> 
	Pregled zasedenosti prostorov <b class="visible-print-inline">Datum od: {{dates[0]?.date}} - {{dates[6]?.date}}</b>
	</h5>

	<div *ngIf="type!='widget'">
		<div class="btn btn-link btn-xs hidden-print" (click)="previous(); false">
			<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
			<span> Prejšnji teden</span>
		</div>

		<strong class="hidden-print">Datum od: {{dates[0]?.date}} - {{dates[6]?.date}}</strong>
		<div class="btn btn-link btn-xs hidden-print" (click)="next(); false">
			<span>Naslednji teden </span><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
		</div>

	</div>
	<div class="visible-print-block">
		<table class="table-le-print" border="1">
			<thead>
				<tr [class.table-warning]="type!='widget'" align="center">
					<td *ngIf="type!='widget'">
						Datum
					</td>
					<td *ngFor="let r of rooms">
						<b>{{r.name}}</b>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let d of dates; let j = index" [class.weekend-color]="j>4" class="tr-border">
					<td align="center" class="table-success" *ngIf="type!='widget'">
						{{d.day}}<br><b>{{d?.date}}</b>
					</td>
					<td *ngFor="let r of rooms" valign="top" [class.weekend-color]="j>4">
						<table class="table-in">
							<tr *ngFor="let e of events">
								<td *ngIf="!e.allDay && e.start && e.roomId==r.id && e.d==d.d" style="vertical-align: top;white-space: nowrap">{{e.start}}-{{e.end}}</td>
								<td *ngIf="e.allDay && e.roomId==r.id && e.d==d.d"><b>!</b></td>
								<td *ngIf="(e.allDay || e.start) && e.roomId==r.id && e.d==d.d" [routerLink]="['/form/event',e.id,'u']">{{e.title | slice:0:40}}</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="hidden-print">
		<table [class.col-md-12]="type=='widget'" [class.planWidth]="type!='widget'" [class.table-hover]="type!='widget'" [class.table-le-small]="type=='widget'"
		    [class.table-le]="type!='widget'" [class.table-hover]="type!='widget'">
			<thead>
				<tr [class.table-warning]="type!='widget'" align="center">
					<td *ngIf="type!='widget'">
						Datum
					</td>
					<td *ngFor="let r of rooms">
						<b>{{r.name}}</b>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let d of dates; let j = index" [class.weekend-color]="j>4">
					<td align="center" class="table-success" *ngIf="type!='widget'" [class.weekend-color]="j>4">
						{{d.day}}<br><b>{{d?.date}}</b>
					</td>
					<td *ngFor="let r of rooms" valign="top" style="padding: 0">
						<table border="0" class="table-in clickable">
							<tr *ngFor="let e of events">
								<td *ngIf="!e.allDay && e.start && e.roomId==r.id && e.d==d.d" style="vertical-align: top;white-space: nowrap">{{e.start}}-{{e.end}}</td>
								<td *ngIf="e.allDay && e.roomId==r.id && e.d==d.d"><b>!</b></td>
								<td *ngIf="(e.allDay || e.start) && e.roomId==r.id && e.d==d.d" [routerLink]="['/form/event',e.id,'u']">{{e.title | slice:0:40}}</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="type!='widget'">
		<br>
		<button class="btn btn-link btn-xs hidden-print" (click)="back(); false">  
      <i class="fa fa-angle-double-left"></i><span> </span>
    </button>
		<button class="btn btn-info btn-xs hidden-print" (click)="print(); false">  
      <i class="fa fa-print"></i> 
    </button>
	</div>
</div>
