<div class="container">
	<div class="card">
		<!-- Default panel contents -->
		<div class="card-header">

			<!-- Form title -->
			<form-title [param]="param" [formTitles]="formTitles" [isDelete]="isDelete()">
			</form-title>
		</div>
		<div class="card-block">
			<ngb-tabset #t="ngbTabset">
				<ngb-tab id="person">
					<template ngbTabTitle><i class="fa fa-user" aria-hidden="true"></i> {{formTitles?.person}}</template>
					<template ngbTabContent>
            <div class="card-block">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="{{formTitles?.search}}" #person (keyup.enter)="findPerson(person.value)">
              </div>
              <table *ngIf="people" class="table-sm table-hover table">
                <tr *ngFor="let p of people" class="text-primary">
                  <td *ngIf="p.id" (click)="selectPerson(p);t.select('activity')">
                   <i *ngIf="selPerson?.id && p.id == selPerson.id" class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                    {{p.firstname}} {{p.lastname}}
                  </td>
                  <td *ngIf="!p.id" class="invisible">&nbsp;</td>
                </tr>
                <ngb-pagination [collectionSize]="paginatorCount" [(page)]="paginatorInitPage" (pageChange)="pagePChange(person.value,$event)"
                  size="sm"></ngb-pagination>
              </table>
            </div>
          </template>
				</ngb-tab>
				<ngb-tab id="activity">
					<template ngbTabTitle><i class="fa fa-clipboard" aria-hidden="true"></i> {{formTitles?.activity}}</template>
					<template ngbTabContent>
            <div class="card-block">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="{{formTitles?.search}}" #activity (keyup.enter)="findActivity(activity.value)">
              </div>
              <table *ngIf="activities" class="table-sm table-hover table">
                <tr *ngFor="let a of activities" class="text-primary">
                  <td *ngIf="a.id" (click)="selectActivity(a);t.select('events')">
                    <i *ngIf="selActivity?.id && a.id == selActivity.id" class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                    <i [style.color]="a.color" class="fa fa-square" aria-hidden="true"></i>
                     {{a.name}}
                  </td>
                  <td *ngIf="!a.id" class="invisible">&nbsp;</td>
                </tr>
                <ngb-pagination [collectionSize]="paginatorACount" [(page)]="paginatorInitPage" (pageChange)="pageAChange(activity.value,$event)"
                  size="sm"></ngb-pagination>
              </table>
            </div>
          </template>
				</ngb-tab>

				<ngb-tab id="events">
					<template ngbTabTitle><i class="fa fa-calendar-minus-o" aria-hidden="true"></i> {{formTitles?.events}}</template>
					<template ngbTabContent>
            <div class="card-block">
              <div class="input-group invisible">
                <input type="text" class="form-control" placeholder="Search for..." >
              </div>
              <table *ngIf="eventss" class="table-sm table-hover table">
                <tr *ngFor="let e of eventss" class="text-primary">
                  <td *ngIf="e.id" (click)="selectEvent(e);t.select('series')">
                    <i *ngIf="selEvent?.id && e.id == selEvent.id" class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                    {{e.name}}
                    <span style="font-size:10px" class="text-muted">{{e.starttime | date: 'dd.MM.yy hh:mm'}}, {{e.endtime | date : 'dd.MM.yy hh:mm'}}</span>
                    <span *ngIf="e.cnt" style="font-size:12px" class="text-success"> {{formTitles?.cnt}} {{e.cnt}}</span>
                  </td>  
                  <td *ngIf="!e.id" class="invisible">&nbsp;</td>
                </tr>
                <ngb-pagination [collectionSize]="paginatorECount" [(page)]="paginatorInitPage" (pageChange)="pageEChange($event)" size="sm"></ngb-pagination>
              </table>
            </div>
          </template>
				</ngb-tab>

				<ngb-tab id="series">
					<template ngbTabTitle><i class="fa fa-clock-o" aria-hidden="true"></i> {{formTitles?.series}}</template>
					<template ngbTabContent>
            <div class="card-block">
              <div class="input-group invisible">
                <input type="text" class="form-control" placeholder="Search for..." >
              </div>
              <table *ngIf="series" class="table-sm table-hover table">
                <tr *ngFor="let e of series" class="text-primary">
                  <td *ngIf="e.id && !e.podate" (click)="selectSerie(e)">
                    <i *ngIf="selSerie?.id && e.id == selSerie.id" class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                    {{e.name}}
                    <span class="text-muted">{{e.starttime | date: 'dd.MM.yy hh:mm'}} - {{e.endtime | date : 'hh:mm'}}</span>
                    <span *ngIf="!e.meventId" style="font-size:12px" class="text-success"> {{formTitles?.first}}</span>
                  </td>  
                  <td *ngIf="!e.id" class="invisible">&nbsp;</td>
                </tr>
                <ngb-pagination [collectionSize]="paginatorSCount" [(page)]="paginatorInitPage" (pageChange)="pageSChange($event)" size="sm"></ngb-pagination>
              </table>
            </div>
          </template>
				</ngb-tab>

			</ngb-tabset>
			<div *ngIf="!checkinOk">
				<span *ngIf="selPerson?.id"><i class="fa fa-user fa-2x" aria-hidden="true"></i> {{selPerson?.firstname}} {{selPerson?.lastname}}</span>
				<span *ngIf="selActivity?.name && selPerson?.id">, <i class="fa fa-clipboard fa-2x" aria-hidden="true"></i> {{selActivity?.name}}</span>
				<span *ngIf="selEvent?.id && selPerson?.id">, <i class="fa fa-calendar-minus-o fa-2x" aria-hidden="true"></i> {{selEvent?.name}}</span>
				<span *ngIf="selSerie?.id && selPerson?.id">, <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i> {{selSerie?.name}}</span>
				<div>
					<button *ngIf="selPerson?.id && selActivity?.id" class="btn btn-danger" (click)="checkinPersonAll(); t.select('person')">{{formTitles?.checkinall}}</button>
					<button *ngIf="selPerson?.id && selActivity?.id && selEvent?.id" class="btn btn-danger" (click)="checkinPersonOne(); t.select('person')">{{formTitles?.checkinone}}</button>
					<button *ngIf="selPerson?.id && selActivity?.id && selEvent?.id && selSerie?.id" class="btn btn-danger" (click)="checkinPersonOneSerie(); t.select('person')">{{formTitles?.checkinserie}}</button>
				</div>
			</div>
			<div *ngIf="checkinOk">
				<span><i class="fa fa-info-circle" aria-hidden="true"></i> {{formTitles?.success}} {{i}}</span>
			</div>
		</div>
	</div>
</div>
